<div class="img-index4"></div>
  <div class="" role="document">
    <div class="text-white">
      <div class="card-body">
        <h3>Ingredients:</h3>
        <div class="col 4">
          <% @portions.each do |portion| %>
          <%= portion.amount.to_f.round(1) %> <%= portion.unit %>
          <%= portion.ingredient.name %><span>,</span>
        <% end %>
      </div>
    </div>
  </div>

<div class="" role="document">
  <div class="text-white">
    <div class="card-body">
      <div class="" id="Nutrients">
        <h3>Nutrients:</h3>
      </div>
      <div class="col-4">
        <p>Calories :<%=@recipe.calories%> </p>
        <p>Carbs :<%=@recipe.carbs%>g </p>
        <p>Fat :<%=@recipe.fat%>g </p>
        <p>Protein :<%=@recipe.protein%>g </p>
      </div>
    </div>
  </div>
</div>
<div class="" role="document">
  <div class="text-white">
    <div class="card-body">
      <h3>Instructions:</h3>
      <div class="col-12">
        <%=@recipe.instructions.html_safe%>
      </div>
    </div>
  </div>
</div>
<div class=" button-navbar d-flex align-items-center justify-content-center"style="margin-top: 5%;">
  <%= link_to new_recipe_review_path(@recipe) do %>
    <button class="add-to-cart btn-lg btn-warning" type="button">Rate Now</button>
  <% end %>
</div>
