<div class="container">

	<div class="container">
		<div class="row bg-light">
     	<img src=<%= @recipe.image %>
			 <h1><%= @recipe.title %></h1>
  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col bg-primary"><%= @recipe.servings %></div>
			<div class="col bg-primary"><%= @recipe.prep_time %></div>
			<div class="col bg-primary">Review</div>
		</div>
		<div class="row">
			<div class="col">
			<%= render 'details', recipe: @recipe %>
	
			</div>	
					
		</div>

		<div class="row">
			<div class="col btn btn-primary">Sign Up</div>
		</div>
</div>




