<div class="container-fluid">
	<div class="container-fluid">
		<div class="row bg-light">
     	<img class="img-fluid rounded mx-auto d-block"src=<%= @recipe.image %>
			 <h1><%= @recipe.title %> </h1>
  	</div>
	</div>
	<div class="container bg-secondary">
		<div class="row">
			<div class="col bg-primary"><%= @recipe.servings %></div>
			<div class="col bg-primary"><%= @recipe.prep_time %></div>
			<div class="col bg-primary">Review</div>
		</div>
	  <% if user_signed_in? %>
			<%= render 'ingredient_selection', portions: @portions %>
		<% else %>
			<%= render 'details', recipe: @recipe %>
		<% end %>

		<div class="row">
			<%= link_to "Cook Now", instruction_path, class: "btn btn-lg btn-primary call-to-action text-center" %>
		</div>
	</div>
	<div class="container bg-warning">
	</div>
	<div class="container">
	</div>
</div>



