<!-- app/views/offers/show.html.erb -->
<%# <% content_for :meta_title, "#{@recipe.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @recipe.summary.html_safe %>
<%# <% content_for :meta_image, recipe_path(@recipe.image) %>


<div class="container-fluid">
  <div class="row mx-auto">
     <div class="img_position" style=" margin-top: 20px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @recipe.image %>')">
      <h3 class="text-center font-weight-lighter text-align-justify"><%= @recipe.title %></h3>
    </div>
  </div>


  <div class="container">
    <div class="row card-body text-center">
      <div class="col">
        <p class="recipe_attrs"><%= image_tag "https://api.iconify.design/emojione-monotone:pot-of-food.svg?color=orange&width=50&height=25" %><%=@recipe.servings%></p>
      </div>
      <div class="col">
        <p class="recipe_attrs"><%= image_tag "https://api.iconify.design/whh:microwave.svg?color=orange&width=50&height=25" %><%= @recipe.prep_time %> min</p>
      </div>
      <div class="col">
        <p class="recipe_attrs"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><a style="text-decoration: none;">Rating</a></p>
      </div>
    </div>
      <div class= "row" style="padding-left: 10px;">
        <div class=" text-center col">
          <%= link_to "Next recipe", random_path(@recipe), class: "btn-sm btn btn-warning" %>
        </div>
        <div class=" text-center col">
          <%= link_to "View reviews", recipe_reviews_path(@recipe), class: "btn-sm btn btn-warning" %>
        </div>
      </div>

    <h5 id="cat-ingredients">What ingredients do you have?</h5>
		<form action="<%=order_path%>">
			<input type="hidden" name="recipe_id" value="<%=@recipe.id%>">


			<% if user_signed_in? %>
      	<%= render 'ingredient_selection', portions: @portions %>
    	<% else %>
      	<%= render 'details', recipe: @recipe %>
    	<% end %>





		    <div style="height: 50px" class=" button-navbar d-flex align-items-center justify-content-center">
				  <%= link_to "Cook Now", instruction_path, class: "btn btn-lg btn-warning", id: "cook-now-button" %>
					<button type="submit" class="btn btn-lg btn-warning" id="order-now-button">
						Order Now
					</button>
       </div>
		</form>
	</div>
</div>
