<div class="container">
	<div class="container">
		<div class="row bg-light">
     	<img src=<%= @recipe.image %>
			 <h1><%= @recipe.title %></h1>
  	</div>
	</div>
	<div class="container bg-secondary">
		<div class="row">
			<div class="col bg-primary"><%= @recipe.servings %></div>
			<div class="col bg-primary"><%= @recipe.prep_time %></div>
			<div class="col bg-primary">Review</div>
		</div>
			<% @portions.each do |portion| %>	
			<div class="row">
				
				<div class="col ">
					<input type="checkbox" aria-label="Checkbox for following text input">
				</div>
				<div class="col">
					<h6><%= portion.ingredient.name %> </h6>
				</div>
				<div class="col"><%= portion.ingredient.image %></div>
				<div class="col"> <%= portion.amount %> </div>
				<div class="col"> <%= portion.unit %></div>
			</div>
			<div class="row">
				<% @recipe.instructions %>			
			</div>
			<% end %>
		<div class="row">
			<div class="col btn btn-primary">Order Now</div>
			<div class="col btn btn-secondary">Next</div>
		</div>
	</div>
	<div class="container bg-warning">
	</div>
	<div class="container">
	</div>
</div>



