<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@recipe.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.summary.html_safe %>
<% content_for :meta_image, recipe_path(@recipe.image) %>






<link rel="stylesheet" type="text/css" href="show.css" />

<div class="container-fluid">
  <div class="row mx-auto">
    <div class="img_position" style="background-image: url('<%= @recipe.image %>')">
      <h2 class="text-center font-weight-lighter text-align-justify"><%= @recipe.title %></h2>
    </div>
  </div>


  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p class="recipe_attrs"><%= image_tag "https://api.iconify.design/emojione-monotone:pot-of-food.svg?color=orange&width=50&height=25" %><%=@recipe.servings%></p>
      </div>
      <div class="col">
        <p class="recipe_attrs"><%= image_tag "https://api.iconify.design/whh:microwave.svg?color=orange&width=50&height=25" %><%= @recipe.prep_time %> min</p>
      </div>
      <div class="col">
        <p class="recipe_attrs"><%= image_tag "https://api.iconify.design/ic:round-stars.svg?color=orange&width=50&height=25" %>Reviews</p>
      </div>
    </div>

    <h4 id="cat-ingredients">What ingredients do you have?</h4>

    <% if user_signed_in? %>
      <%= render 'ingredient_selection', portions: @portions %>
    <% else %>
      <%= render 'details', recipe: @recipe %>
    <% end %>
		
		<h4 id="cat-ingredients">What ingredients do you have?</h4>
	  <form action="<%=order_path%>">

	  		<input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
			  

			<div style="height: 50px"class="cook_now">
				<%= link_to "Cook Now", instruction_path, class: "btn btn-lg btn-warning", id: "cook-now-button" %>
				
			
			<button type="submit" class="btn btn-lg btn-warning" id="order-now-button">
				Order Now
			</button>
		</div>
		</form>
	</div>
</div>


    <div style="height: 50px"class="cook_now">
      <%= link_to "Cook Now", instruction_path, class: "btn btn-lg btn-warning", id: "cook-now-button" %>
      <%= link_to "Order Now", order_path, class: "btn btn-lg btn-warning", id: "order-now-button" %>
    </div>
  </div>
</div>
