<div class="container button-navbar">
  <div class="row bg-light icons-text">
    <div class="col-4 flex-column text-center d-flex justify-content-center">
      <%= link_to root_path, class: "text-muted" do %>

        <%= image_tag "https://api.iconify.design/noto-v1:cooking.svg?width=25&height=25" %>
        <br>
        EAtSY
      <% end %>
    </div>

    <div class="col-4 flex-column text-center d-flex justify-content-center">
      <%= link_to "#", class: "text-muted" do %>
        <%= image_tag "https://api.iconify.design/ic:round-stars.svg?color=orange&width=50&height=25" %>
        <br>
        REVIEWS
      <% end %>
    </div>

    <div class="col-4 flex-column text-center d-flex justify-content-center">
      <%= link_to accountsummary_path, class: "text-muted" do %>
        <%= image_tag "https://api.iconify.design/ic:baseline-account-box.svg?color=orange&width=50&height=25" %>
        <br>
        ACCOUNT
      <% end %>
    </div>
  </div>
</div>


