<div class="container-fluid px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="card border-0">
            <div class="row set-p justify-content-center">
                

                <div><img class="image" src="https://i.imgur.com/lfEnSRg.jpg"> </div> <span class="fa fa-angle-left" id="left"></span> <span class="fa fa-angle-right" id="right"></span>
                <div class="col-8">
                    <div class="row px-3">
                        <h3 class="font-weight-bold"><%=@recipe.title%></h3>
                    </div>

                    <div class="row px-3 mb-2 mt-2"> <span class="fa fa-star text-warning mr-1"></span> <span class="fa fa-star text-warning mr-1"></span> <span class="fa fa-star text-warning mr-1"></span> <span class="fa fa-star text-warning mr-1"></span> </div> <br>
                       <div class="row px-3">
                            <h5 class="mb-1">Preparation Time -- <%=@recipe.prep_time%> mins <br> Servings --    <%=@recipe.servings%> </h5>
                        </div>
                                       
                    <div class="row px-3">
                        <p class="mb-4"><%=@recipe.summary.html_safe%></p>
                    </div>

                    <div class="line"></div>
                        <div class="row px-3 mt-4">
                            <h5 class="text-secondary mb-1">User Reviews & Ratings</h5>
                        </div>
                    </div>

                <% @reviews.each do |review| %> 
                    <div class="col-8">
                        <div class="row px-2 mb-2">
                            <h6 class="text-success mb-1"><strong>User Rating : </strong><%=review.rating%></h6>
                        </div>
                                                        
                    <div class="row px-2 mb-3">
                        <h6 class="rating mb-0 px-2 mr-2"><%=review.description%></h6>
                    </div>
                <% end %> 
                </div>
            </div>
        </div>
    </div>
</div>